# Este es un archivo de ejemplo para las variables de entorno.
# Copia este archivo a .env y reemplaza los valores con tus propias claves.
# NUNCA compartas tu archivo .env ni subas tus claves a un repositorio público.

# Claves de la API de Binance
BINANCE_API_KEY="TU_API_KEY_DE_BINANCE"
BINANCE_API_SECRET="TU_API_SECRET_DE_BINANCE"
